@tailwind base;
@tailwind components;
.animation
     {
        top: 100px;
        position: relative;
        /* animation-name: kaushal; */
        /* animation-name: kaushal1; */
        opacity: 0%;

        
    
}
@keyframes kaushal {
    0%{
        top: 100px;
        opacity: 0%;
    }
    25%{
      
        opacity: 25%;
    }
    50%{
      
        opacity: 50%;
    }
    75%{
        
        opacity: 75%;
    }
    100%{
        top: 0px;
        opacity: 100%;
    }
}
@tailwind utilities;

